/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
Gemfile.lock
# rspec failure tracking
.rspec_status
/vendor
/extensions
/gems
/specifications
/cache
test/rails_app/logcoverage
