<% module_namespacing do -%>
class <%= class_name %>Repository < ApplicationRepository
<% if @aggregate -%>
    model :<%= class_name.split('::').last.underscore.to_sym %>, '<%= class_name %>' 
<% end -%>
<% attributes.each do |attribute| -%>
    model :<%= attribute.name.to_sym %>, '<%= attribute.type.to_s.classify %>' 
<% end -%>
end
<% end -%>